@use "sass:math";

$image_size: 200px;

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.myImage {
  width: $image_size;
  height: $image_size;
  border-radius: math.div($image-size, 2);
  background-color: cyan;
  border: 1px solid blue;
  box-shadow: 5px 5px #888888;
  margin-bottom: 15px;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: justify;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.techStack {
  align-self: center;
  width: 100%;
  border-radius: 15px;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
