@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.projects {
  margin-top: 20px;
  align-items: center;

  a,
  a:hover {
    text-decoration: none;
    color: white;
  }
}

.projectItem {
  border: 1px solid rgba(43, 43, 43, 0.568);
  border-radius: 10px;
  padding: 10px;
  background: #7c529c;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.projectItem:hover {
  background: #49315c;
}
